
:root {
  --rosa-claro: #ffbcbe;
  --rosa-hover: #ffa4a7;
  --rosa-gradiente-topo: #ffe6f0;
  --rosa-gradiente-base: #ffcce0;
  --marrom-texto: #401900;
  --marrom-subtitulo: #c4722d;
  --dourado-slogan: #db9e32;
  --fonte-principal: "Caveat Brush", cursive;
}
